#user-form {
	width: 15%;
}

#user-form > button.btn {
	margin: 0 3%;
}

span.navbar-text {
	margin: 0 1%;
}

div.container > form {
	width: 60%;
	margin: 40px auto;
}

span.required {
	color: red;
	margin: 0 5px;
}

.fas {
	color: gold;
	margin: 0 3px;
}

.container {
	padding: 20px 0;
}

.card-deck {
	margin: 10px 0;
}

.card-deck > .card {
	width: 30% !important;
}