SetEnv DB ad2104
SetEnv DB_SERVER localhost
SetEnv DB_USER ad2104
SetEnv DB_PASSWORD gonekill

php_value include_path '/home/MAIN/ad2104/Sites/756/projects/event-management-system/'
php_value auto_prepend_file 'initializer.php'
#php_value auto_append_file 'templates/footer.html' 
