<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
		<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
		    <ul class="navbar-nav mr-auto">
		    	<li class="nav-item">
		    		<i class="fas fa-users"></i>- View list of attendees
		    	</li>
		    	<li class="nav-item">
		    		<i class="fas fa-plus-square"></i>- Add a session
		    	</li>
		    	<li class="nav-item">
		    		<i class="fas fa-edit"></i>- Edit event/session
		    	</li>
		    	<li class="nav-item">
		    		<i class="fas fa-trash-alt"></i>- Delete event/session
		    	</li>
		    </ul>
		</footer>
  </body>
</html>
